<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://password-generation-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/522aa16d-da28-41d4-bfe5-28218ac1f6c5/resourceGroups/PasswordGenerator/providers/Microsoft.Web/sites/password-generation-func</ResourceId>
    <UserName>$password-generation-func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://password-generation-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>